---
import { db,  } from 'astro:db';
/* const certified = await db.select().from(Certified);
 */
import { Image } from "astro:assets";
import ieeeLogo from "../images/ieee_untels_rgb_stacked_blue.png";
import escudo from "../images/escudo.png";
import firmaSteve from "../images/firma steve.png";
import dayjs from "dayjs";



interface Props {
  names?: string;
  participate?: string;
  chapter?: string;
  titlePresentation?: string;
  carrier?: string;
  mode?: string;
  dd?: string;
  mm?: string;
  yy?: string;
  date: dayjs.Dayjs;
}

const {
  names,
  carrier,
  chapter,
  date,
  participate,
  mode,
  dd,
  mm,
  yy,
  titlePresentation,
} = Astro.props;
---

<div
  id="diplome"
  class="max-w-screen-xl mx-auto mt-8 p-4 text-lg md:text-2xl font-paragraph text-center select-none bg-white shadow-lg rounded-lg"
>
  <header class="flex justify-between items-center mt-6">
    <div class="hidden flex-col items-center gap-2 md:flex invisible">
      <small class="block font-bold text-base">República del Perú</small>
      <Image class="w-10" src={escudo} alt="Escudo del Perú" width={150} />
    </div>
    <Image
      class="w-60 hidden md:block"
      src={ieeeLogo}
      alt="Logo IEEE UNTELS"
      width={600}
    />
  </header>

  <main class="mt-10">
    <div class="flex-grow">
      <h1 class="text-4xl md:text-5xl font-heading mb-5">CERTIFICADO</h1>
      <span>Por el presente certifica que</span>
    </div>

    {
      names ? (
        <b class="block text-2xl text-center my-5 w-full font-title font-bold tracking-tighter md:text-5xl">
          {names}
        </b>
      ) : (
        <input
          id="names"
          type="text"
          class="p-0 text-2xl text-center my-5 w-full font-title font-bold tracking-tighter bg-transparent focus:outline-none md:text-5xl"
          placeholder="[Nombres y apellidos]"
          name="names"
          autocomplete="off"
        />
      )
    }
    <p>
      ha participado en "{
        participate ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[curso / taller]"
            name="names"
            autocomplete="off"
          />
        )
      }" en calidad de:
    </p>
    {
      titlePresentation ? (
        <b class="block text-2xl text-center my-5 w-full font-title font-bold tracking-tighter md:text-5xl">
          {titlePresentation}
        </b>
      ) : (
        <input
          id="titlePresentation"
          type="text"
          class="p-0 text-2xl text-center my-5 w-full font-bold tracking-tighter bg-transparent focus:outline-none md:text-5xl"
          placeholder="[Título de la presentación]"
          name="titlePresentation"
          autocomplete="off"
        />
      )
    }
    <p>
      Evento organizado por {
        chapter ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[rama / capitulo]"
            name="names"
            autocomplete="off"
          />
        )
      } de la Universidad Nacional Tecnológica de Lima Sur. Realizado en modalidad
      {
        mode ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[presencial / remoto]"
            name="names"
            autocomplete="off"
          />
        )
      } el {
        dd ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[día]"
            name="names"
            autocomplete="off"
          />
        )
      }
      de {
        mm ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[mes]"
            name="names"
            autocomplete="off"
          />
        )
      } del {
        yy ? (
          <b class="block tracking-tighter bg-transparent focus:outline-none">
            {names}
          </b>
        ) : (
          <input
            id="names"
            type="text"
            class="p-0 text-center tracking-tighter bg-transparent focus:outline-none"
            placeholder="[año]"
            name="names"
            autocomplete="off"
          />
        )
      }
    </p>
    <span class="block my-10 text-right italic"
      >Otorgado el <time datetime={date.toISOString()}
        >{date.format("DD [de] MMMM [del] YYYY")}</time
      ></span
    >
  </main>

  <footer class="hidden justify-around items-center text-base md:flex">
    <div class="flex flex-col items-center">
      <Image
        class="w-auto h-20 lg:h-36"
        src={firmaSteve}
        alt="Firma Steve"
        width={300}
        height={145}
      />
      <b class="tracking-tight">M.Sc. Fredy Campos Aguado</b>
      <span> IEEE UNTELS Student Branch Counselor</span>
    </div>
    <div class="flex flex-col items-center">
      <Image
        class="w-auto h-20 lg:h-36"
        src={firmaSteve}
        alt="Firma Steve"
        width={300}
        height={145}
      />
      <b class="tracking-tight">Steve Gomez</b>
      <span>Supervisor de títulos</span>
    </div>
  </footer>
</div>

<style>
  @font-face {
    font-family: "Bold Ayres";
    src: url("/fonts/BoldAyres.ttf");
  }

  @font-face {
    font-family: "Bodoni Elegant";
    src: url("/fonts/BodoniElegant.otf");
  }

  @font-face {
    font-family: "Kievit Serif";
    src: url("/fonts/KievitSerif.ttf");
  }
</style>
